<template>
    <div class="container">
        <div class="customer-list">
            <h1>{{ msgCustomersList }}</h1>
            <router-link to="/addCustomer">
                <button type="button" class="btn btn-primary btn-lg btn-block btn-add-client">Ajouter un Client</button>
            </router-link>
            <div class="table-responsive">
                <table class="table" aria-describedby="Liste des clients">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="customerList">
                    <!-- eslint-disable-next-line -->
                    <tr v-for="customer in customers" :key="customer">
                    <th scope="row">{{ customer.id }}</th>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.username }}</td>
                    <td><button type="button" class="btn btn-danger" @click="deleteUser(customer.id)">Supprimer</button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'CustomerList',
  data () {
    return {
      customers: []
    }
  },
  mounted () {
    this.getUsers();
  },
  methods: {
  /**
      * Delete the user.
      * @param{number} id of customer
      * @return{number} return status 200
      */
    deleteUser: function (id) {
      this.$http.delete('/customers/' + id).then((response) => {
        this.customers = [];
        this.getUsers();
        this.info = response;
      });
    },
      /**
      * Get all user.
      * @return return a list of customer
      */
    getUsers: function () {
      const baseURI = '/customers';
      this.$http.get(baseURI)
      .then((result) => {
        this.customers = result.data
      })
    }
  },
  props: {
    msgCustomersList: String
  }
}
</script>

<style lang="scss">
.customer-list {
    display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $color;
    margin-top: 25px;
  }
  
  .btn-add-client {
    width: 300px;
    margin: 25px 0;
  }
}
</style>