<template>
  <div class="customerAdd container">
    <h1>{{ msg }}</h1>
    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input type="text" class="form-control" id="firstName" v-model="firstName" name="firstName" required />
    </div>
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input type="text" class="form-control" id="lastName" v-model="lastName" name="lastName" required />
    </div>
    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" class="form-control" id="username" v-model="username" name="username" required />
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" v-model="password" name="password" required />
    </div>
    <button @click="checkForm" class="btn btn-primary">Ajouter le client</button>
  </div>
</template>

<script>
export default {
  name: 'CustomerAdd',
  datas: {
    firstName: String,
    lastName: String,
    username: String,
    password: String,
    errors: null
  },
  methods: {
    
    checkForm: function (e) {
      e.preventDefault();
      if (this.firstName && this.lastName && this.username && this.password) {
        return this.addUser();
      }

      this.errors = [];

      if (!this.firstName) {
        this.errors.push('Prénom manquant.');
      }
      if (!this.lastName) {
        this.errors.push('Nom manquant.');
      }
      if (!this.username) {
        this.errors.push('Username manquant.');
      }
      if (!this.password) {
        this.errors.push('Password manquant.')
      }
    },
     /**
         * Add user.
         * @return{number} return status 201.
         */
    addUser: function () {
        const baseURI = '/customers';
        this.$http.post(baseURI, {firstName: this.firstName, lastName: this.lastName, username: this.username, password: this.password})
        .then(() => {
            this.$router.push("/");
        })
    }
  },
  props: {
    msg: String
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.customerAdd {
  h1 {
    color: $color;
    margin-top: 25px;
  }
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>