<template>
  <div class="home container">

    <div class="customer-select">
      <select v-model="selected">
        <option v-for="customer in customers" :key="customer">{{ customer.first_name + ' ' + customer.last_name }}</option>
      </select>
    </div>
    <div class="product">
      <h1>{{ msgProduct }}</h1>
      <div class="table-responsive">
        <table class="table" aria-describedby="Liste des produits">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Libelle du produit</th>
              <th scope="col">Prix HT</th>
              <th scope="col">Stock</th>
              <th scope="col">Quantité</th>
            </tr>
          </thead>
          <tbody id="productList">
            <!-- eslint-disable-next-line -->
            <tr v-for="product in products" :key="product">
              <th scope="row">{{ product.id }}</th>
              <td>{{ product.name }}</td>
              <td>{{ product.price_HT }}</td>
              <td>{{ product.quantity }}</td>
              <td><input type="number" v-model="product.quantityBuy"/></td>
            </tr>
          </tbody> 
        </table>
      </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block btn-add-client" v-on:click="sendOrder">Créer une commande</button>

  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      customers: [],
      products: [],
      customerSelect: []
    }
  },
  mounted () {
    this.getUsers();
    this.getProducts();
  },
  methods: {
    getUsers: function () {
      const baseURI = '/customers';
      this.$http.get(baseURI)
      .then((result) => {
        this.customers = result.data
      })
    },
    /**
      * Delete a product.
      * @return{number} return status 200
      */
    deleteProduct: function () {
      // eslint-disable-next-line
      this.$http.delete('/products/' + id).then((response) => {
        this.product = [];
        this.getUsers();
        this.info = response;
      });
    },
    /**
      * Get all products.
      * @return return a list of products
      */
    getProducts: function () {
      const baseURI = '/products';
      this.$http.get(baseURI)
      .then((result) => {
        this.products = result.data
        this.products.map(product => product.quantityBuy = 0)
      })
    },
    sendOrder: function () {
      let listProductsBuy = []
      this.products.forEach(product => {
        product.quantityBuy = parseInt(product.quantityBuy)
        if (product.quantityBuy > 0 && product.quantityBuy <= product.quantity) {
          let productTemp = {}
          productTemp['product'] = product.id
          productTemp['quantity'] = product.quantityBuy
          productTemp['price'] = parseFloat(product.price_HT)
          listProductsBuy.push(productTemp)
        }
      });
      let result = {}
      result['customer'] = this.customerSelect[0].id
      result['listProducts'] = listProductsBuy

      const baseURI = '/orders';
      this.$http.post(baseURI, result)
      .then(() => {
          this.$router.push("/");
      })
    }
  },
  props: {
    msg: String,
    msgProduct: String
  },
  computed: {
    selected: {
      get () {
        return null;
      },
      set (customerSel) {
        this.customerSelect = this.customers.filter(custo => custo.first_name + ' ' + custo.last_name == customerSel)
      }
    }
  }
}
</script>

<style lang="scss">
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  h1 {
    color: $color;
    margin-top: 25px;
  }
  
  .btn-add-client {
    width: 300px;
    margin: 25px 0;
  }
}

.customer, .product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>