<template>
    <div class="container">
        <div class="order-list">
            <h1>{{ msgOrderList }}</h1>
            <router-link to="/addCustomer">
                <button type="button" class="btn btn-primary btn-lg btn-block btn-add-client">Ajouter un Client</button>
            </router-link>
            <div class="table-responsive">
                <table class="table" aria-describedby="Liste des clients">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">nbProduits</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="orderList">
                    <!-- eslint-disable-next-line -->
                    <tr v-for="order in orders" :key="order">
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.date }}</td>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.nb_produits }}</td>
                    <td><button type="button" class="btn btn-danger" @click="deleteOrder(order.id)">Supprimer</button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'OrderList',
    data() {
        return {
            orders: []
        }
    },
    mounted() {
        this.getOrders();
    },
    methods: {
        deleteOrder: function () {
            // eslint-disable-next-line
            this.$http.delete('/orders/' + id).then((response) => {
                this.order = [];
                this.getOrders();
                this.info = response;
            });
        },
        getProducts: function () {
            const baseURI = '/orders';
            this.$http.get(baseURI)
                .then((result) => {
                    console.log(result.data)
                    this.orders = result.data
                })
        }
    },
    props: {
        msgOrderList: String
    }
}
</script>

<style lang="scss">
.order-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: $color;
        margin-top: 25px;
    }

    .btn-add-client {
        width: 300px;
        margin: 25px 0;
    }
}
</style>