<template>
  <div class="productAdd container">
    <h1>{{ msgProduct }}</h1>
    <div class="form-group">
      <label for="name">Nom du produit</label>
      <input type="text" class="form-control" id="name" v-model="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="price_HT">Prix</label>
      <input type="text" class="form-control" id="price_HT" v-model="price_HT" name="price_HT" required />
    </div>
    <div class="form-group">
      <label for="quantity">Quantité</label>
      <input type="text" class="form-control" id="quantity" v-model="quantity" name="quantity" required />
    </div>
    <button @click="checkForm" class="btn btn-primary">Ajouter le produit</button>
  </div>
</template>

<script>
export default {
  name: 'ProductAdd',
  datas: {
    name: String,
    price_HT: Number,
    quantity: Number,
    errors: null
  },
  methods: {
    checkForm: function (e) {
      e.preventDefault();
      if (this.name && this.price_HT && this.quantity) {
        return this.addProduct();
      }

      this.errors = [];

      if (!this.name) {
        this.errors.push('Nom du produit manquant.');
      }
      if (!this.price_HT) {
        this.errors.push('Prix manquant.');
      }
      if (!this.quantity) {
        this.errors.push('Quantité manquante.');
      }
    },
    /**
      * Add a  products.
      * @return return status 201
      */
    addProduct: function () {
        const baseURI = '/products';
        this.$http.post(baseURI, {name: this.name, price_HT: this.price_HT, quantity: this.quantity})
        .then(() => {
            this.$router.push("/");
        })
    }
  },
  props: {
    msgProduct: String
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.productAdd {
  h1 {
    color: $color;
    margin-top: 25px;
  }
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>