<template>
    <div class="container">
        <div class="product-list">
            <h1>{{ msgProductList }}</h1>
            <router-link to="/addProduct">
                <button type="button" class="btn btn-primary btn-lg btn-block btn-add-client">Ajouter un produit</button>
            </router-link>
            <div class="table-responsive">
                <table class="table" aria-describedby="Liste des produits">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="productList">
                    <!-- eslint-disable-next-line -->
                    <tr v-for="product in products" :key="product">
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price_HT }}</td>
                    <td>{{ product.quantity }}</td>
                    <td><button type="button" class="btn btn-danger" @click="deleteProduct(product.id)">Supprimer</button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProductList',
    data() {
        return {
            products: []
        }
    },
    mounted() {
        this.getProducts();
    },
    methods: {
        /**
      * Delete product
      * @return return status 200
      */
        deleteProduct: function () {
            // eslint-disable-next-line
            this.$http.delete('/products/' + id).then((response) => {
                this.product = [];
                this.getProducts();
                this.info = response;
            });
        },
        /**
      * Get all products.
      * @return return a list of products
      */
        getProducts: function () {
            const baseURI = '/products';
            this.$http.get(baseURI)
                .then((result) => {
                    console.log(result.data)
                    this.products = result.data
                })
        }
    },
    props: {
        msgProductList: String
    }
}
</script>

<style lang="scss">
.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: $color;
        margin-top: 25px;
    }

    .btn-add-client {
        width: 300px;
        margin: 25px 0;
    }
}
</style>