<template>
  <div id="app">
    <nav class="navigation-bar">
      <div class="container">
      <router-link to="/">
        <a class="navbar-brand" href="#">Gestion des achats clients</a>
      </router-link>
      <ul class="tabs">
        <li class="nav-item">
          <router-link to="/customers">
            <a class="nav-link" href="#">Clients</a>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/products">
            <a class="nav-link" href="#">Produits</a>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/orders">
            <a class="nav-link" href="#">Commandes</a>
          </router-link>
        </li>
      </ul>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.navigation-bar {
  height: 70px;
  background-color: #5c5c5c;
  position: fixed;
  width: 100%;
  top: 0;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    .navbar-brand {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #dbdbdb;
      }
    }

    .tabs {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0;
      margin: 0 0 0 30px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #dbdbdb;
        }
      }
    }
  }
}
</style>
